.todos-container {

  margin: 20px auto;
  margin-top: 20vh;
  padding: 20px;
  width: 80%;

  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-btn {
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: var(--secondary-color);
}

.todo-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
  /* padding: 5px; */
}

.todo-menu .todo-btn {
  /* width: 20%; */
  /* list-style-type: none; */
  padding: auto 20px;
}

.todo-menu select {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--border-color);
  background-color: white;
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.todos-container ul {
  width: 100%;
}

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 5px;

  /* border: 1px solid var(--border-color); */
  border-radius: 8px;
  background-color: var(--background-color2);

  margin: 10px 0;
}

.in-progress {
  background-color: var(--in-progress-bg-color);
}

.review {
  background-color: var(--review-bg-color);
}

.completed {
  background-color: var(--completed-bg-color);
}


.todo-container input {
  
  flex: 0 0 20px;
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 4px;
}

.todo-content {
  /* flex: 5; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-content .todo-due {
  flex: 0 0 100px;
  color: white;
  margin-right: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif
}

.todo-content .todo-title {
  flex: 0 0 150px;
  font-weight: 800;
  margin-right: 20px;
  text-align: start;
  font-family: 'Montserra', Arial, Helvetica, sans-serif;
}


.todo-description {
  flex: 1;
  text-align: start;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.todo-status {
  font-size: 14px;
  flex: 0 0 150px;
  text-align: start;
}

.todo-container button {
  flex: 0 0 80px;
  margin: auto 10px;
  padding: auto 0px;
}

.todo-container button:hover {
  background-color: var(--secondary-color);
}
