@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-popup-bg: #afcbad;
  --color-popup-text: #f0eadd;
  --color-popup-addBtn-bg: #567656;
  --color-popup-addBtn-text: #f2f1eb;
  --color-popup-cancelBtn-bg: #d2d3dc;
  --color-popup-cancelBtn-text: #696b84;


  --background-color: #f0f8f5;
  --background-color2: #c4ecda;
  --primary-color: #2c7a7b;
  --secondary-color: #319795;
  --accent-color: #38b2ac;
  --text-color: #2d3748;
  --border-color: #81e6d9;

  --checked-background-color: #43a047;
  --unchecked-background-color: #858a88;


}
